// ##### Footer Area Start #####
footer(class="footer_area clearfix")
  .container
    .row
      // Single Widget Area
      .col-12.col-md-6
        div(class="single_widget_area d-flex mb-30")
          // Logo
          .footer-logo.mr-50
            a(href="/index.html") GTM Trial Shop
          // Footer Menu
          div(class="footer_menu")
            ul
              li
                a(href="/index.html") 商品一覧
              li
                a(href="/blog/index.html") ブログ
              li
                a(href="/contact/form/index.html") お問い合わせ
      // Single Widget Area
      .col-12.col-md-6
        div(class="single_widget_area mb-30")
          ul(class="footer_widget_menu")
            li
              a(href="#") 注文状況
            li
              a(href="#") お支払い方法について
            li
              a(href="#") 配送・送料について
            li
              a(href="#") ご利用ガイド
            li
              a(href="#") プライバシーポリシー
            li
              a(href="#") 利用規約
    .row.align-items-end
      // Single Widget Area
      .col-12.col-md-6
        div(class="single_widget_area")
          div(class="footer_heading mb-30")
            h6 メルマガ購読
          div(class="subscribtion_form")
            form(action="#", method="post")
              input.mail(type="email", name="mail", placeholder="メールアドレスを入力")
              button.submit(type="submit")
                i.fa.fa-long-arrow-right(aria-hidden="true")
      // Single Widget Area
      .col-12.col-md-6
        div(class="single_widget_area")
          div(class="footer_social_area")
            a(href="https://twitter.com/SEM_Technology", target="_blank" data-toggle="tooltip", data-placement="top", title="Twitter")
              i.fa.fa-twitter(aria-hidden="true")
            a(href="https://www.youtube.com/channel/UClSSuyjAF0pKybMR800WRLQ", target="_blank", data-toggle="tooltip", data-placement="top", title="Youtube")
              i.fa.fa-youtube-play(aria-hidden="true")
    .row.mt-5
      .col-md-12.text-center
        p
          | © 2026 Bayes &amp; Beyond Inc. All Rights Reserved.
// ##### Footer Area End #####
