// ##### Footer Area Start #####
footer(class="footer_area clearfix")
  .container
    .row
      // Single Widget Area
      .col-12.col-md-6
        div(class="single_widget_area d-flex mb-30")
          // Logo
          .footer-logo.mr-50
            a(href="/index.html") GTM Trial Shop
          // Footer Menu
          div(class="footer_menu")
            ul
              li
                a(href="/index.html") Shop
              li
                a(href="/blog/index.html") Blog
              li
                a(href="/contact/form/index.html") Contact
      // Single Widget Area
      .col-12.col-md-6
        div(class="single_widget_area mb-30")
          ul(class="footer_widget_menu")
            li
              a(href="#") Order Status
            li
              a(href="#") Payment Options
            li
              a(href="#") Shipping and Delivery
            li
              a(href="#") Guides
            li
              a(href="#") Privacy Policy
            li
              a(href="#") Terms of Use
    .row.align-items-end
      // Single Widget Area
      .col-12.col-md-6
        div(class="single_widget_area")
          div(class="footer_heading mb-30")
            h6 Subscribe
          div(class="subscribtion_form")
            form(action="#", method="post")
              input.mail(type="email", name="mail", placeholder="Your email here")
              button.submit(type="submit")
                i.fa.fa-long-arrow-right(aria-hidden="true")
      // Single Widget Area
      .col-12.col-md-6
        div(class="single_widget_area")
          div(class="footer_social_area")
            //- a(href="#", data-toggle="tooltip", data-placement="top", title="Facebook")
            //-   i.fa.fa-facebook(aria-hidden="true")
            //- a(href="#", data-toggle="tooltip", data-placement="top", title="Instagram")
            //-   i.fa.fa-instagram(aria-hidden="true")
            a(href="https://twitter.com/SEM_Technology", target="_blank" data-toggle="tooltip", data-placement="top", title="Twitter")
              i.fa.fa-twitter(aria-hidden="true")
            //- a(href="#", data-toggle="tooltip", data-placement="top", title="Pinterest")
            //-   i.fa.fa-pinterest(aria-hidden="true")
            a(href="https://www.youtube.com/channel/UClSSuyjAF0pKybMR800WRLQ", target="_blank", data-toggle="tooltip", data-placement="top", title="Youtube")
              i.fa.fa-youtube-play(aria-hidden="true")
    .row.mt-5
      .col-md-12.text-center
        p
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright &amp;copy;
          script.
            document.write(new Date().getFullYear());
          | All rights reserved | This template is made with
          i.fa.fa-heart-o(aria-hidden="true")
          | by
          a(href="https://colorlib.com", target="_blank") Colorlib
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// ##### Footer Area End #####
