// ##### Header Area Start #####
header(class="header_area")
  .classy-nav-container.breakpoint-off.d-flex.align-items-center.justify-content-between
    // Classy Menu
    nav#essenceNav.classy-navbar
      // Logo
      a.nav-brand(href="/index.html") GTM Trial Shop
      // Navbar Toggler
      .classy-navbar-toggler
        span.navbarToggler
          span
          span
          span
      // Menu
      .classy-menu
        // close btn
        .classycloseIcon
          .cross-wrap
            span.top
            span.bottom
        // Nav Start
        .classynav
          ul
            li
              a(href="#") Shop
              .megamenu
                ul.single-mega.cn-col-4
                  li.title Women&apos;s Collection
                  li
                    a(href="/list/categories/index.html") Dresses
                  li
                    a(href="/list/categories/index.html") Blouses &amp;amp; Shirts
                  li
                    a(href="/list/categories/index.html") T-shirts
                  li
                    a(href="/list/categories/index.html") Rompers
                  li
                    a(href="/list/categories/index.html") Bras &amp;amp; Panties
                ul.single-mega.cn-col-4
                  li.title Men&apos;s Collection
                  li
                    a(href="/list/categories/index.html") T-Shirts
                  li
                    a(href="/list/categories/index.html") Polo
                  li
                    a(href="/list/categories/index.html") Shirts
                  li
                    a(href="/list/categories/index.html") Jackets
                  li
                    a(href="/list/categories/index.html") Trench
                ul.single-mega.cn-col-4
                  li.title Kid&apos;s Collection
                  li
                    a(href="/list/categories/index.html") Dresses
                  li
                    a(href="/list/categories/index.html") Shirts
                  li
                    a(href="/list/categories/index.html") T-shirts
                  li
                    a(href="/list/categories/index.html") Jackets
                  li
                    a(href="/list/categories/index.html") Trench
                .single-mega.cn-col-4
                  img(src="/img/bg-img/bg-6.jpg", alt="")
            li
              a(href="#") Pages
              ul.dropdown
                li
                  a(href="/index.html") Home
                li 
                  a(href="/list/categories/index.html") Category Page
                li
                  a(href="/list/search/index.html") Search Result
                li 
                  a(href="/list/favorite/index.html") Favorite Items
                li
                  a(href="/goods/P1001/index.html") Product Details
                li
                  a(href="/order/checkout/index.html") Checkout
                li 
                  a(href="/order/complete/index.html") Order Complete
                li
                  a(href="/blog/index.html") Blog
                li
                  a(href="/blog/posts/0001/index.html") Single Blog
                li
                  a(href="regular-page.html") Regular Page
                li
                  a(href="contact.html") Contact
                li 
                  a(href="/about/index.html") About This Site
                li 
                  a(href="/configure/index.html") Configure
            li
              a(href="/blog/index.html") Blog
            li
              a(href="contact.html") Contact
        // Nav End
    // Header Meta Data
    .header-meta.d-flex.clearfix.justify-content-end
      // Search Area
      .search-area
        form(action="/list/search/index.html", method="GET")
          input#headerSearch(type="search", name="keyword", placeholder="Type for search")
          button(type="submit")
            i.fa.fa-search(aria-hidden="true")
      // Favourite Area
      .favourite-area
        a(href="/list/favorite/index.html")
          img(src="/img/core-img/heart.svg", alt="")
      // User Login Info
      .user-login-info
        a(href="#")
          img(src="/img/core-img/user.svg", alt="")
      // Cart Area
      .cart-area
        a#essenceCartBtn(href="#")
          img(src="/img/core-img/bag.svg", alt="")
          span 3
// ##### Header Area End #####
