// ##### Header Area Start #####
header(class="header_area")
  .classy-nav-container.breakpoint-off.d-flex.align-items-center.justify-content-between
    // Classy Menu
    nav#essenceNav.classy-navbar
      // Logo
      a.nav-brand(href="/index.html") GTM Trial Shop
      // Navbar Toggler
      .classy-navbar-toggler
        span.navbarToggler
          span
          span
          span
      // Menu
      .classy-menu
        // close btn
        .classycloseIcon
          .cross-wrap
            span.top
            span.bottom
        // Nav Start
        .classynav
          ul
            li
              a(href="#") ページ一覧
              ul.dropdown
                li
                  a(href="/index.html") ホーム
                li
                  a(href="/list/categories/index.html") 商品一覧
                  ul.dropdown
                    li
                      a(href="/list/categories/index.html") カテゴリー
                    li
                      a(href="/list/search/index.html") 検索結果
                li
                  a(href="/goods/P1001/index.html") 商品詳細
                li
                  a(href="/order/checkout/index.html") お支払い
                li
                  a(href="/blog/index.html") ブログ
                li
                  a(href="/blog/posts/0001/index.html") ブログ記事
                li
                  a(href="/order/complete/index.html") 購入完了
                li
                  a(href="/list/favorite/index.html") お気に入り
                li
                  a(href="/contact/form/index.html") お問い合わせ
                li
                  a(href="/configure/index.html") 設定
            li
              a(href="/contact/form/index.html") お問い合わせ
        // Nav End
    // Header Meta Data
    .header-meta.d-flex.clearfix.justify-content-end
      // Search Area
      .search-area
        form(action="/list/search/index.html", method="GET")
          input#headerSearch(type="search", name="keyword", placeholder="キーワードを入力")
          button(type="submit")
            i.fa.fa-search(aria-hidden="true")
      // Favourite Area
      .favourite-area
        a(href="/list/favorite/index.html")
          img(src="/img/core-img/heart.svg", alt="")
      // User Login Info
      .user-login-info
        a(href="#")
          img(src="/img/core-img/user.svg", alt="")
      // Cart Area
      .cart-area
        a#essenceCartBtn(href="#")
          img(src="/img/core-img/bag.svg", alt="")
          span 3
// ##### Header Area End #####
