// ##### Shop Grid Area Start #####
section(class="shop_grid_area section-padding-80")
  .container
    .row
      .col-12.col-md-4.col-lg-3
        div(class="shop_sidebar_area")
          // ##### Single Widget #####
          .widget.catagory.mb-50
            // Widget Title
            h6.widget-title.mb-30 カテゴリー
            // Catagories
            .catagories-menu
              ul#menu-content2.menu-content.collapse.show
                // Single Item
                li(data-toggle="collapse", data-target="#clothing")
                  a(href="#") 筆記具
                  ul#clothing.sub-menu.collapse.show
                    li
                      a(href="#") すべて見る
                    li
                      a(href="#") 万年筆
                    li
                      a(href="#") ボールペン
                    li
                      a(href="#") シャープペンシル
                    li
                      a(href="#") インク・替芯
                // Single Item
                li.collapsed(data-toggle="collapse", data-target="#shoes")
                  a(href="#") ノート・紙製品
                  ul#shoes.sub-menu.collapse
                    li
                      a(href="#") すべて見る
                    li
                      a(href="#") システム手帳
                    li
                      a(href="#") ノートパッド
                    li
                      a(href="#") 便箋・封筒
                    li
                      a(href="#") ダイアリー
                // Single Item
                li.collapsed(data-toggle="collapse", data-target="#accessories")
                  a(href="#") 革小物・デスク周り
                  ul#accessories.sub-menu.collapse
                    li
                      a(href="#") すべて見る
                    li
                      a(href="#") ペンケース
                    li
                      a(href="#") 名刺入れ
                    li
                      a(href="#") ブックカバー
                    li
                      a(href="#") デスクマット
          // ##### Single Widget #####
          .widget.price.mb-50
            // Widget Title
            h6.widget-title.mb-30 絞り込み
            // Widget Title 2
            p.widget-title2.mb-30 価格
            .widget-desc
              .slider-range
                .slider-range-price.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(data-min="7840", data-max="57600", data-unit="¥", data-value-min="7840", data-value-max="57600", data-label-result="範囲:")
                  .ui-slider-range.ui-widget-header.ui-corner-all
                  span.ui-slider-handle.ui-state-default.ui-corner-all(tabindex="0")
                  span.ui-slider-handle.ui-state-default.ui-corner-all(tabindex="0")
                .range-price 範囲: ¥7,840 - ¥57,600
          // ##### Single Widget #####
          .widget.color.mb-50
            // Widget Title 2
            p.widget-title2.mb-30 カラー
            .widget-desc
              ul.d-flex
                li
                  a.color1(href="#")
                li
                  a.color2(href="#")
                li
                  a.color3(href="#")
                li
                  a.color4(href="#")
                li
                  a.color5(href="#")
                li
                  a.color6(href="#")
                li
                  a.color7(href="#")
                li
                  a.color8(href="#")
                li
                  a.color9(href="#")
                li
                  a.color10(href="#")
          // ##### Single Widget #####
          .widget.brands.mb-50
            // Widget Title 2
            p.widget-title2.mb-30 ブランド
            .widget-desc
              ul
                li
                  a(href="#") Asos
                li
                  a(href="#") Mango
                li
                  a(href="#") River Island
                li
                  a(href="#") Topshop
                li
                  a(href="#") Zara
      .col-12.col-md-8.col-lg-9
        div(class="shop_grid_product_area")
          .row
            .col-12
              .product-topbar.d-flex.align-items-center.justify-content-between
                // Total Products
                .total-products
                  p
                    span 186
                    | 件の商品が見つかりました
                // Sorting
                .product-sorting.d-flex
                  p 並び替え:
                  form(action="#", method="get")
                    select#sortByselect(name="select")
                      option(value="value") おすすめ順
                      option(value="value") 新着順
                      option(value="value") 価格の高い順
                      option(value="value") 価格の安い順
                    input.d-none(type="submit", value="")
          .row
            // Single Product
            .col-12.col-sm-6.col-lg-4
              .single-product-wrapper
                // Product Image
                .product-img
                  img(src="/img/product-img/pen.png", alt="")
                  // Hover Thumb
                  img.hover-img(src="/img/product-img/pen.png", alt="")
                  // Product Badge
                  .product-badge.offer-badge
                    span -30%
                  // Favourite
                  .product-favourite
                    a.favme.fa.fa-heart(href="#")
                // Product Description
                .product-description
                  span 筆記具専門店
                  a(href="/goods/P1001/index.html")
                    h6 高級万年筆 - エレガンス
                  p.product-price
                    span.old-price ¥56,000
                    | ¥44,800
                  // Hover Content
                  .hover-content
                    // Add to Cart
                    .add-to-cart-btn
                      a.btn.essence-btn(href="#") カートに追加
            // Single Product
            .col-12.col-sm-6.col-lg-4
              .single-product-wrapper
                // Product Image
                .product-img
                  img(src="/img/product-img/leather.png", alt="")
                  // Hover Thumb
                  img.hover-img(src="/img/product-img/leather.png", alt="")
                  // Favourite
                  .product-favourite
                    a.favme.fa.fa-heart(href="#")
                // Product Description
                .product-description
                  span レザー小物
                  a(href="/goods/P1001/index.html")
                    h6 栃木レザー製ペンケース
                  p.product-price ¥19,200
                  // Hover Content
                  .hover-content
                    // Add to Cart
                    .add-to-cart-btn
                      a.btn.essence-btn(href="#") カートに追加
            // Single Product
            .col-12.col-sm-6.col-lg-4
              .single-product-wrapper
                // Product Image
                .product-img
                  img(src="/img/product-img/system.png", alt="")
                  // Hover Thumb
                  img.hover-img(src="/img/product-img/system.png", alt="")
                  // Product Badge
                  .product-badge.new-badge
                    span New
                  // Favourite
                  .product-favourite
                    a.favme.fa.fa-heart(href="#")
                // Product Description
                .product-description
                  span ノート・紙製品
                  a(href="/goods/P1001/index.html")
                    h6 システム手帳 - ビジネス
                  p.product-price ¥40,000
                  // Hover Content
                  .hover-content
                    // Add to Cart
                    .add-to-cart-btn
                      a.btn.essence-btn(href="#") カートに追加
            // Single Product
            .col-12.col-sm-6.col-lg-4
              .single-product-wrapper
                // Product Image
                .product-img
                  img(src="/img/product-img/notepad.png", alt="")
                  // Hover Thumb
                  img.hover-img(src="/img/product-img/notepad.png", alt="")
                  // Favourite
                  .product-favourite
                    a.favme.fa.fa-heart(href="#")
                // Product Description
                .product-description
                  span 文房具
                  a(href="/goods/P1001/index.html")
                    h6 ノートパッドホルダー
                  p.product-price ¥19,200
                  // Hover Content
                  .hover-content
                    // Add to Cart
                    .add-to-cart-btn
                      a.btn.essence-btn(href="#") カートに追加
            // Single Product
            .col-12.col-sm-6.col-lg-4
              .single-product-wrapper
                // Product Image
                .product-img
                  img(src="/img/product-img/pen.png", alt="")
                  // Hover Thumb
                  img.hover-img(src="/img/product-img/pen.png", alt="")
                  // Product Badge
                  .product-badge.offer-badge
                    span -30%
                  // Favourite
                  .product-favourite
                    a.favme.fa.fa-heart(href="#")
                // Product Description
                .product-description
                  span デスク周り
                  a(href="/goods/P1001/index.html")
                    h6 真鍮製ペーパーウェイト
                  p.product-price ¥7,200
                  // Hover Content
                  .hover-content
                    // Add to Cart
                    .add-to-cart-btn
                      a.btn.essence-btn(href="#") カートに追加
            // Single Product
            .col-12.col-sm-6.col-lg-4
              .single-product-wrapper
                // Product Image
                .product-img
                  img(src="/img/product-img/leather.png", alt="")
                  // Hover Thumb
                  img.hover-img(src="/img/product-img/leather.png", alt="")
                  // Favourite
                  .product-favourite
                    a.favme.fa.fa-heart(href="#")
                // Product Description
                .product-description
                  span 筆記具専門店
                  a(href="/goods/P1001/index.html")
                    h6 ガラスペン - 幻想の青
                  p.product-price ¥28,800
                  // Hover Content
                  .hover-content
                    // Add to Cart
                    .add-to-cart-btn
                      a.btn.essence-btn(href="#") カートに追加
            // Single Product
            .col-12.col-sm-6.col-lg-4
              .single-product-wrapper
                // Product Image
                .product-img
                  img(src="/img/product-img/system.png", alt="")
                  // Hover Thumb
                  img.hover-img(src="/img/product-img/system.png", alt="")
                  // Product Badge
                  .product-badge.new-badge
                    span New
                  // Favourite
                  .product-favourite
                    a.favme.fa.fa-heart(href="#")
                // Product Description
                .product-description
                  span ギフト・手紙
                  a(href="/goods/P1001/index.html")
                    h6 活版印刷レターセット
                  p.product-price ¥5,600
                  // Hover Content
                  .hover-content
                    // Add to Cart
                    .add-to-cart-btn
                      a.btn.essence-btn(href="#") カートに追加
            // Single Product
            .col-12.col-sm-6.col-lg-4
              .single-product-wrapper
                // Product Image
                .product-img
                  img(src="/img/product-img/notepad.png", alt="")
                  // Hover Thumb
                  img.hover-img(src="/img/product-img/notepad.png", alt="")
                  // Favourite
                  .product-favourite
                    a.favme.fa.fa-heart(href="#")
                // Product Description
                .product-description
                  span デスク周り
                  a(href="/goods/P1001/index.html")
                    h6 本革デスクマット
                  p.product-price ¥51,200
                  // Hover Content
                  .hover-content
                    // Add to Cart
                    .add-to-cart-btn
                      a.btn.essence-btn(href="#") カートに追加
            // Single Product
            .col-12.col-sm-6.col-lg-4
              .single-product-wrapper
                // Product Image
                .product-img
                  img(src="/img/product-img/pen.png", alt="")
                  // Hover Thumb
                  img.hover-img(src="/img/product-img/pen.png", alt="")
                  // Favourite
                  .product-favourite
                    a.favme.fa.fa-heart(href="#")
                // Product Description
                .product-description
                  span インク・消耗品
                  a(href="/goods/P1001/index.html")
                    h6 ボトルインク - 琥珀
                  p.product-price ¥4,000
                  // Hover Content
                  .hover-content
                    // Add to Cart
                    .add-to-cart-btn
                      a.btn.essence-btn(href="#") カートに追加
        // Pagination
        nav(aria-label="navigation")
          ul.pagination.mt-50.mb-70
            li.page-item
              a.page-link(href="#")
                i.fa.fa-angle-left
            li.page-item
              a.page-link(href="#") 1
            li.page-item
              a.page-link(href="#") 2
            li.page-item
              a.page-link(href="#") 3
            li.page-item
              a.page-link(href="#") ...
            li.page-item
              a.page-link(href="#") 21
            li.page-item
              a.page-link(href="#")
                i.fa.fa-angle-right
// ##### Shop Grid Area End #####
