// ##### Right Side Cart Area #####
.cart-bg-overlay
.right-side-cart-area
  // Cart Button
  .cart-button
    a#rightSideCart(href="#")
      img(src="/img/core-img/bag.svg", alt="")
      span 3
  .cart-content.d-flex
    // Cart List Area
    .cart-list
      // Single Cart Item
      .single-cart-item
        a.product-image(href="#")
          img.cart-thumb(src="/img/product-img/pen.png", alt="")
          // Cart Item Desc
          .cart-item-desc
            span.product-remove
              i.fa.fa-close(aria-hidden="true")
            span.badge Platinum
            h6 高級万年筆
            p.size Nib: F
            p.color Color: Black
            p.price ¥24,000
      // Single Cart Item
      .single-cart-item
        a.product-image(href="#")
          img.cart-thumb(src="/img/product-img/leather.png", alt="")
          // Cart Item Desc
          .cart-item-desc
            span.product-remove
              i.fa.fa-close(aria-hidden="true")
            span.badge Leather
            h6 栃木レザー製ペンケース
            p.size Size: M
            p.color Color: Brown
            p.price ¥19,200
      // Single Cart Item
      .single-cart-item
        a.product-image(href="#")
          img.cart-thumb(src="/img/product-img/system.png", alt="")
          // Cart Item Desc
          .cart-item-desc
            span.product-remove
              i.fa.fa-close(aria-hidden="true")
            span.badge Journal
            h6 システム手帳
            p.size Size: A5
            p.color Color: Navy
            p.price ¥19,200
    // Cart Summary
    .cart-amount-summary
      h2 合計
      ul.summary-table
        li
          span 小計:
          span ¥88,000
        li
          span 送料:
          span 無料
        li
          span 合計:
          span ¥88,000
      .checkout-btn.mt-100
        a.btn.essence-btn(href="/order/checkout/index.html") お支払いへ進む
// ##### Right Side Cart End #####