extends ../../layout/_baseof

block load_scripts
  script(src="../../main.ts" type="module")

block content 
    // ##### Breadcumb Area Start #####
    div(class="breadcumb_area breadcumb-style-two bg-img", style="background-image: url(/img/bg-img/breadcumb2.jpg);")
      .container.h-100
        .row.h-100.align-items-center
          .col-12
            .page-title.text-center
              h2 Fashion Blog
    // ##### Breadcumb Area End #####
    // ##### Blog Wrapper Area Start #####
    .blog-wrapper.section-padding-80
      .container
        .row
          // Single Blog Area
          .col-12.col-lg-6
            .single-blog-area.mb-50
              img(src="/img/bg-img/blog1.jpg", alt="")
              // Post Title
              .post-title
                a(href="/blog/posts/0001/index.html") Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
              // Hover Content
              .hover-content
                // Post Title
                .hover-post-title
                  a(href="/blog/posts/0001/index.html") Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.
                a(href="/blog/posts/0001/index.html") Continue reading 
                  i.fa.fa-angle-right
          // Single Blog Area
          .col-12.col-lg-6
            .single-blog-area.mb-50
              img(src="/img/bg-img/blog2.jpg", alt="")
              // Post Title
              .post-title
                a(href="/blog/posts/0001/index.html") Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
              // Hover Content
              .hover-content
                // Post Title
                .hover-post-title
                  a(href="/blog/posts/0001/index.html") Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.
                a(href="/blog/posts/0001/index.html") Continue reading 
                  i.fa.fa-angle-right
          // Single Blog Area
          .col-12.col-lg-6
            .single-blog-area.mb-50
              img(src="/img/bg-img/blog3.jpg", alt="")
              // Post Title
              .post-title
                a(href="/blog/posts/0001/index.html") Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
              // Hover Content
              .hover-content
                // Post Title
                .hover-post-title
                  a(href="/blog/posts/0001/index.html") Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.
                a(href="/blog/posts/0001/index.html") Continue reading 
                  i.fa.fa-angle-right
          // Single Blog Area
          .col-12.col-lg-6
            .single-blog-area.mb-50
              img(src="/img/bg-img/blog4.jpg", alt="")
              // Post Title
              .post-title
                a(href="/blog/posts/0001/index.html") Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
              // Hover Content
              .hover-content
                // Post Title
                .hover-post-title
                  a(href="/blog/posts/0001/index.html") Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.
                a(href="/blog/posts/0001/index.html") Continue reading 
                  i.fa.fa-angle-right
          // Single Blog Area
          .col-12.col-lg-6
            .single-blog-area.mb-50
              img(src="/img/bg-img/blog5.jpg", alt="")
              // Post Title
              .post-title
                a(href="/blog/posts/0001/index.html") Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
              // Hover Content
              .hover-content
                // Post Title
                .hover-post-title
                  a(href="/blog/posts/0001/index.html") Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.
                a(href="/blog/posts/0001/index.html") Continue reading 
                  i.fa.fa-angle-right
          // Single Blog Area
          .col-12.col-lg-6
            .single-blog-area.mb-50
              img(src="/img/bg-img/blog6.jpg", alt="")
              // Post Title
              .post-title
                a(href="/blog/posts/0001/index.html") Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
              // Hover Content
              .hover-content
                // Post Title
                .hover-post-title
                  a(href="/blog/posts/0001/index.html") Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.
                a(href="/blog/posts/0001/index.html") Continue reading 
                  i.fa.fa-angle-right
    // ##### Blog Wrapper Area End #####
