extends ../../layout/_baseof

block load_scripts
  script(src="/main.ts" type="module")

block content 
    // ##### Breadcumb Area Start #####
    div(class="breadcumb_area breadcumb-style-two bg-img", style="background-image: url(/img/bg-img/breadcumb2.png);")
      .container.h-100
        .row.h-100.align-items-center
          .col-12
            .page-title.text-center
              h2 万年筆・文房具コラム
    // ##### Breadcumb Area End #####
    // ##### Blog Wrapper Area Start #####
    .blog-wrapper.section-padding-80
      .container
        .row
          // Single Blog Area
          .col-12.col-lg-6
            .single-blog-area.mb-50
              img(src="/img/bg-img/blog1.png", alt="")
              // Post Title
              .post-title
                a(href="/blog/posts/0001/index.html") 万年筆の基礎知識：初心者におすすめの1本と選び方
              // Hover Content
              .hover-content
                // Post Title
                .hover-post-title
                  a(href="/blog/posts/0001/index.html") 万年筆の基礎知識：初心者におすすめの1本と選び方
                p 初めて万年筆を手に取る方へ。ペン先の種類やインクの補充方法、メンテナンスの基本を分かりやすく解説します。
                a(href="/blog/posts/0001/index.html") 続きを読む 
                  i.fa.fa-angle-right
          // Single Blog Area
          .col-12.col-lg-6
            .single-blog-area.mb-50
              img(src="/img/bg-img/blog2.png", alt="")
              // Post Title
              .post-title
                a(href="/blog/posts/0001/index.html") 手帳時間を豊かにする、上質な革製カバーの魅力
              // Hover Content
              .hover-content
                // Post Title
                .hover-post-title
                  a(href="/blog/posts/0001/index.html") 手帳時間を豊かにする、上質な革製カバーの魅力
                p 日々の記録を特別なものにする革製手帳カバー。使い込むほどに味わいが増すエイジングの楽しみをご紹介します。
                a(href="/blog/posts/0001/index.html") 続きを読む 
                  i.fa.fa-angle-right
          // Single Blog Area
          .col-12.col-lg-6
            .single-blog-area.mb-50
              img(src="/img/bg-img/blog3.png", alt="")
              // Post Title
              .post-title
                a(href="/blog/posts/0001/index.html") インク沼へようこそ。色彩が広がる万年筆ライフ
              // Hover Content
              .hover-content
                // Post Title
                .hover-post-title
                  a(href="/blog/posts/0001/index.html") インク沼へようこそ。色彩が広がる万年筆ライフ
                p 無数にあるボトルインクの中から、あなただけの色を見つけませんか？表現を広げるインクの世界をご案内。
                a(href="/blog/posts/0001/index.html") 続きを読む 
                  i.fa.fa-angle-right
          // Single Blog Area
          .col-12.col-lg-6
            .single-blog-area.mb-50
              img(src="/img/bg-img/blog4.png", alt="")
              // Post Title
              .post-title
                a(href="/blog/posts/0001/index.html") ギフトに最適。大切な人に贈りたい特別感のある文房具
              // Hover Content
              .hover-content
                // Post Title
                .hover-post-title
                  a(href="/blog/posts/0001/index.html") ギフトに最適。大切な人に贈りたい特別感のある文房具
                p 就職祝いや誕生日に。末長く愛用できる高品質な文具ギフトの選び方とおすすめアイテムを厳選しました。
                a(href="/blog/posts/0001/index.html") 続きを読む 
                  i.fa.fa-angle-right
          // Single Blog Area
          .col-12.col-lg-6
            .single-blog-area.mb-50
              img(src="/img/bg-img/blog5.png", alt="")
              // Post Title
              .post-title
                a(href="/blog/posts/0001/index.html") 栃木レザーのお手入れ：長く愛用するためのポイント
              // Hover Content
              .hover-content
                // Post Title
                .hover-post-title
                  a(href="/blog/posts/0001/index.html") 栃木レザーのお手入れ：長く愛用するためのポイント
                p 丈夫で美しい栃木レザー。革の潤いを保ち、艶を出すための日常的なケア方法をステップ形式で解説します。
                a(href="/blog/posts/0001/index.html") 続きを読む 
                  i.fa.fa-angle-right
          // Single Blog Area
          .col-12.col-lg-6
            .single-blog-area.mb-50
              img(src="/img/bg-img/blog6.png", alt="")
              // Post Title
              .post-title
                a(href="/blog/posts/0001/index.html") システム手帳のカスタマイズ：自分だけの1冊を作る楽しみ
              // Hover Content
              .hover-content
                // Post Title
                .hover-post-title
                  a(href="/blog/posts/0001/index.html") システム手帳のカスタマイズ：自分だけの1冊を作る楽しみ
                p リフィル選びからインデックスの工夫まで。自分のライフスタイルに寄り添う手帳の育て方をご提案します。
                a(href="/blog/posts/0001/index.html") 続きを読む 
                  i.fa.fa-angle-right
    // ##### Blog Wrapper Area End #####
