extends ../../../../layout/_baseof

block title
  | 筆記具の魅力紹介 | ブログ | 文房具専門店 Essence

block load_scripts
  script(src="/main.ts" type="module")


block content
  // ##### Blog Wrapper Area Start #####
  .single-blog-wrapper
    // Single Blog Post Thumb
    .single-blog-post-thumb
      img(src="/img/bg-img/blog1.png", alt="")
    // Single Blog Content Wrap
    .single-blog-content-wrapper.d-flex
      // Blog Content
      .single-blog--text
        h2 万年筆の基礎知識：初心者におすすめの1本と選び方
        p 万年筆は、使うほどに自分の手に馴染み、書く喜びを教えてくれる道具です。しかし、初めて選ぶ際には「種類が多くてどれを選べばいいかわからない」という方も多いはず。今回は、初心者の方が迷わずに自分にぴったりの1本を見つけるためのポイントをご紹介します。
        p まず注目したいのは「ペン先の素材」です。ステンレス製は手頃で丈夫、金製（14金や18金）は柔らかく滑らかな書き味が特徴です。最初はステンレス製から始めて、書くことに慣れてきたら金ペンに挑戦するのがおすすめです。
        blockquote
          h6
            i.fa.fa-quote-left(aria-hidden="true")
            | 一本の万年筆が、あなたの人生の物語を綴るパートナーになります。
          span 文房具ソムリエ
        p また、インクの補充方法も重要です。手軽なカートリッジ式、ボトルから吸入するコンバーター式など、ライフスタイルに合わせて選んでみましょう。当店では、国内メーカーの高品質な万年筆を中心に、長く愛用できるモデルを取り揃えています。
      // Related Blog Post
      .related-blog-post
        // Single Related Blog Post
        .single-related-blog-post
          img(src="/img/bg-img/blog2.png", alt="")
          a(href="/blog/posts/0001/index.html")
            h5 手帳時間を豊かにする革カバーの選び方
        // Single Related Blog Post
        .single-related-blog-post
          img(src="/img/bg-img/blog3.png", alt="")
          a(href="/blog/posts/0001/index.html")
            h5 インク沼へようこそ。色彩を楽しむ
        // Single Related Blog Post
        .single-related-blog-post
          img(src="/img/bg-img/blog4.png", alt="")
          a(href="/blog/posts/0001/index.html")
            h5 大切な人へ贈りたい文房具ギフト
        // Single Related Blog Post
        .single-related-blog-post
          img(src="/img/bg-img/blog5.png", alt="")
          a(href="/blog/posts/0001/index.html")
            h5 栃木レザーのお手入れ完全ガイド
  // ##### Blog Wrapper Area End #####
