extends ../../../../layout/_baseof

block load_scripts
  script(src="../../../../main.ts" type="module")


block content
  // ##### Blog Wrapper Area Start #####
  .single-blog-wrapper
    // Single Blog Post Thumb
    .single-blog-post-thumb
      img(src="/img/bg-img/bg-7.jpg", alt="")
    // Single Blog Content Wrap
    .single-blog-content-wrapper.d-flex
      // Blog Content
      .single-blog--text
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis perferendis rem accusantium ducimus animi nesciunt expedita omnis aut quas molestias!
        p Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis ac eu nisi. In accumsan tellus ut dapibus blandit.
        blockquote
          h6
            i.fa.fa-quote-left(aria-hidden="true")
            | Quisque sagittis non ex eget vestibulum. Sed nec ultrices dui. Cras et sagittis erat. Maecenas pulvinar, turpis in dictum tincidunt, dolor nibh lacinia lacus.
          span Liam Neeson
        p Praesent ac magna sed massa euismod congue vitae vitae risus. Nulla lorem augue, mollis non est et, eleifend elementum ante. Nunc id pharetra magna. Praesent vel orci ornare, blandit mi sed, aliquet nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      // Related Blog Post
      .related-blog-post
        // Single Related Blog Post
        .single-related-blog-post
          img(src="/img/bg-img/rp1.jpg", alt="")
          a(href="#")
            h5 Cras lobortis nisl nec libero pulvinar lacinia. Nunc sed ullamcorper massa
        // Single Related Blog Post
        .single-related-blog-post
          img(src="/img/bg-img/rp2.jpg", alt="")
          a(href="#")
            h5 Fusce tincidunt nulla magna, ac euismod quam viverra id. Fusce eget metus feugiat
        // Single Related Blog Post
        .single-related-blog-post
          img(src="/img/bg-img/rp3.jpg", alt="")
          a(href="#")
            h5 Etiam leo nibh, consectetur nec orci et, tempus tempus ex
        // Single Related Blog Post
        .single-related-blog-post
          img(src="/img/bg-img/rp4.jpg", alt="")
          a(href="#")
            h5 Sed viverra pellentesque dictum. Aenean ligula justo, viverra in lacus porttitor
  // ##### Blog Wrapper Area End #####
