extends ./../layout/_baseof

block load_scripts
  script(src="/main.ts" type="module")

block content 
  // ##### Welcome Area Start #####
  section(class="welcome_area bg-img background-overlay", style="background-image: url(img/bg-img/stationery_hero.png);")
    .container.h-100
      .row.h-100.align-items-center
        .col-12
          .hero-content
            h6 厳選された文房具
            h2 至高の筆記具を取り揃えて
            a.btn.essence-btn(href="/list/categories/index.html") 商品を見る
  // ##### Welcome Area End #####
  // ##### Top Catagory Area Start #####
  div(class="top_catagory_area section-padding-80 clearfix")
    .container
      .row.justify-content-center
        // Single Catagory
        .col-12.col-sm-6.col-md-4
          div(class="single_catagory_area d-flex align-items-center justify-content-center bg-img", style="background-image: url(img/product-img/pen.png);")
            .catagory-content
              a(href="/list/categories/index.html") 筆記具
        // Single Catagory
        .col-12.col-sm-6.col-md-4
          div(class="single_catagory_area d-flex align-items-center justify-content-center bg-img", style="background-image: url(img/product-img/system.png);")
            .catagory-content
              a(href="/list/categories/index.html") 手帳・ノート
        // Single Catagory
        .col-12.col-sm-6.col-md-4
          div(class="single_catagory_area d-flex align-items-center justify-content-center bg-img", style="background-image: url(img/product-img/leather.png);")
            .catagory-content
              a(href="/list/categories/index.html") 革小物
  // ##### Top Catagory Area End #####

  // ##### CTA Area Start #####
  .cta-area
    .container
      .row
        .col-12
          .cta-content.bg-img.background-overlay(style="background-image: url(img/bg-img/bg-5.png);")
            .h-100.d-flex.align-items-center.justify-content-end
              .cta--text
                h6 高品質な文具
                h2 文房具セール実施中
                a.btn.essence-btn(href="/list/categories/index.html") 今すぐチェック
  // ##### CTA Area End #####

  // ##### New Arrivals Area Start #####
  section(class="new_arrivals_area section-padding-80 clearfix")
    .container
      .row
        .col-12
          .section-heading.text-center
            h2 Popular Products

    .popular-products-slides.owl-carousel
      .single-product-wrapper
        .product-img
          img(src="/img/product-img/pen.png", alt="")
          img.hover-img(src="/img/product-img/pen.png", alt="")
          .product-favourite
            a.favme.fa.fa-heart(href="#")
        .product-description
          span High-end
          a(href="single-product-details.html")
            h6 高級万年筆
          p.product-price ¥56,000
          .hover-content
            .add-to-cart-btn
              a.btn.essence-btn(href="#") Add to Cart
      .single-product-wrapper
        .product-img
          img(src="/img/product-img/leather.png", alt="")
          img.hover-img(src="/img/product-img/leather.png", alt="")
          .product-favourite
            a.favme.fa.fa-heart(href="#")
        .product-description
          span Leather
          a(href="single-product-details.html")
            h6 栃木レザー製ペンケース
          p.product-price ¥19,200
          .hover-content
            .add-to-cart-btn
              a.btn.essence-btn(href="#") Add to Cart
      .single-product-wrapper
        .product-img
          img(src="/img/product-img/system.png", alt="")
          img.hover-img(src="/img/product-img/system.png", alt="")
          .product-badge.offer-badge
            span -30%
          .product-favourite
            a.favme.fa.fa-heart(href="#")
        .product-description
          span Journal
          a(href="single-product-details.html")
            h6 システム手帳
          p.product-price
            span.old-price ¥56,000
            | ¥44,800
          .hover-content
            .add-to-cart-btn
              a.btn.essence-btn(href="#") Add to Cart
      .single-product-wrapper
        .product-img
          img(src="/img/product-img/notepad.png", alt="")
          img.hover-img(src="/img/product-img/notepad.png", alt="")
          .product-badge.new-badge
            span New
          .product-favourite
            a.favme.fa.fa-heart(href="#")
        .product-description
          span Office
          a(href="single-product-details.html")
            h6 ノートパッドホルダー
          p.product-price ¥24,000
          .hover-content
            .add-to-cart-btn
              a.btn.essence-btn(href="#") Add to Cart
  // ##### New Arrivals Area End #####

  // ##### Brands Area Start #####
  .brands-area.d-flex.align-items-center.justify-content-between
    // Brand Logo
    .single-brands-logo
      img(src="/img/core-img/brand1.png", alt="")
    // Brand Logo
    .single-brands-logo
      img(src="/img/core-img/brand2.png", alt="")
    // Brand Logo
    .single-brands-logo
      img(src="/img/core-img/brand3.png", alt="")
    // Brand Logo
    .single-brands-logo
      img(src="/img/core-img/brand4.png", alt="")
    // Brand Logo
    .single-brands-logo
      img(src="/img/core-img/brand5.png", alt="")
    // Brand Logo
    .single-brands-logo
      img(src="/img/core-img/brand6.png", alt="")
  // ##### Brands Area End #####


